@use "../abstracts";
html {
    --bg--body:#F6F6F6;
    --Secondary-Color-Secondary-1: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(7%) sepia(8%)
        saturate(6404%) hue-rotate(215deg) brightness(101%) contrast(95%);
    --icon2-color: brightness(0) saturate(100%) invert(7%) sepia(10%)
        saturate(5674%) hue-rotate(217deg) brightness(99%) contrast(95%);
    --bg-color-header: #eeeeee;
    --top-action-color: #fff;
    --top-action-separate: #ededf6;
    --top-action-shadow: rgba(0, 0, 0, 0.08);
    --bg-drop-inner: #fff;
    --box-shadow-inner: rgba(200, 200, 200, 0.4);
    --bg-color-img-2-1: #fff;
    --dropinner-text: #1a162e;
    --bg-navmobile: #fff;
    --shadow-navmobile: rgba(200, 200, 200, 0.4);
    --color-navmobile: brightness(0) saturate(100%) invert(8%) sepia(42%)
        saturate(975%) hue-rotate(210deg) brightness(94%) contrast(96%);
    --cato-item-color:#EEEEEE;
    --color-price:#000;
    --filter-color:#6C6C72;
    --cate-item:#fff;
    --product-list: #fff;
    --bg-heart:#fff;
    --shadow-product:  rgba(237, 237, 246, 0.2);
    --filter-bg:#fff;
    --filter-shadow:rgba(200, 200, 200, 0.4);
    --Secondary-Color-Secondary-5:#f8f8fb;
    --bg-bill:#fff;
    --Secondary-Color-Secondary-6:#fafafd;
    --hover-bill: #1a162e;
    @include abstracts.breakpoint(sm) {
        --bg-color-header: #fff;
    }
}
