<div class="container">
    <div class="body__bar">
        <button class="more js-toggle" toggle-target="#navbar-mobile">
            <img src="./assets/icon/more.svg" alt="" class="icon icon__more">
        </button> 
        <!-- logo -->
        <a href="#!" class="logo">
            <img src="./assets/icon/Icon.svg" alt="grocerymart" class="img__logo" />
            <h1 class="logo__header">grocerymart</h1>
        </a>
        <!-- nav-mobile-tablet -->
        <div class="overlay__mobile"></div>  
        <div id="navbar-mobile" class="nav__mobile">
            <div class="nav__mobile--maintop">
                <button>
                    <img src="./assets/icon/back.svg" alt="back" class="icon nav__mobile--icon1">
                </button>
            </div>
         <!-- nav-mobile-tablet -->
           <div class="nav__mobile--main">
                <!-- item1 -->
                <div class="nav__mobile--card">
                   <button class="nav__mobile--btn">
                        <img src="../assets/icon/buy.svg" alt="" class="icon nav__mobile--icon2">
                        <span class="nav__mobile--title">Card</span>
                   </button>
                   <span class="nav__mobile--title">3</span>
                </div>
                <!-- item2 -->
                <div class="nav__mobile--card">
                    <button class="nav__mobile--btn">
                         <img src="./assets/icon/heart.svg" alt="" class="icon nav__mobile--icon3">
                         <span class="nav__mobile--title">Favorite</span>
                    </button>
                    <span class="nav__mobile--title">3</span>
                 </div>
                 <!-- item3 -->
                 <div class="nav__mobile--card">
                    <button class="nav__mobile--btn">
                         <span class="nav__mobile--title1">Departments</span>
                    </button>
                    <label for="checkbox" class="nav__mobile--check">
                   <div class="nav__mobile--imgblock">
                        <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="icon nav__mobile--icon4">
                        <img src="./assets/icon/arrow-3.svg" alt="" class="icon nav__mobile--icon5">
                   </div>
                </label>
                 </div>
                 <p class="nav__mobile--desc">Savings & Featured Shops</p>
                 <div class="nav__mobile--imgblock1">
                        <a href="#!" class="nav__mobile--link">Electronics</a>
                        <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="icon nav__mobile--icon6">
                    </div>
                 <input type="checkbox" name="checkbox" id="checkbox" hidden>
                 <!-- list tv and video -->
                 <div class="dropdown__inner--item">
                    <div class="dropdown__inner--img2">
                        <img src="./assets/icon/game.svg" alt="" class="dropdown__inner--icon">
                    </div>
                    <div class="dropdown__inner--blog">
                        <h2 class="dropdown__inner--header">TV & Video</h2>
                        <p class="dropdown__inner--desc">TVs by Size</p>
                        <p class="dropdown__inner--desc">Smart TVs</p>
                        <p class="dropdown__inner--desc">Roku TVs</p>
                        <p class="dropdown__inner--desc">Streaming</p>
                        <p class="dropdown__inner--desc">TV & Video</p>
                        <p class="dropdown__inner--desc">DVD & Blu-Ray Players</p>
                        <p class="dropdown__inner--desc">TV Mounts & Accessories</p>
                    </div>
                </div>
                <!-- technology -->
                <div class="dropdown__inner--item dropdown__inner--item2-1">
                    <div class="dropdown__inner--img2-1">
                        <img src="../assets/icon/star.svg" alt="" class="dropdown__inner--icon1">
                        <img src="./assets/icon/game.svg" alt="" class="dropdown__inner--icon">
                    </div>
                   <div class="dropdown__inner--blog">
                        <h2 class="dropdown__inner--header">Wearable Technology</h2>
                        <p class="dropdown__inner--desc">Galaxy Watch</p>
                        <p class="dropdown__inner--desc">Apple Watch</p>
                        <p class="dropdown__inner--desc">Fitness Trackers</p>
                        <p class="dropdown__inner--desc">Virtual Reality</p>
                        <p class="dropdown__inner--desc">Headphones</p>
                   </div>
             </div>
             <div class="dropdown__inner--item1">
                 <p class="dropdown__inner--desc">Clothing, Shoes & Accessories</p>
                 <p class="dropdown__inner--desc">Home, Furniture & Appliances</p>
                 <p class="dropdown__inner--desc">Toys & Video Games</p>
                 <p class="dropdown__inner--desc">Home Improvement</p>
                 <p class="dropdown__inner--desc">Baby</p>
                 <p class="dropdown__inner--desc">Household Essentials</p>
                 <p class="dropdown__inner--desc">Personal Care</p>
                 <p class="dropdown__inner--desc">Patio & Garden</p>
                 <p class="dropdown__inner--desc">Sports & Outdoors</p>
                 <p class="dropdown__inner--desc">Gift Cards</p>
                 <p class="dropdown__inner--desc">Auto, Tires and Industrial</p>
                 <p class="dropdown__inner--desc">Movies, Music & Books</p>
             </div>
           </div>
           <!-- Grocery -->
           <div class="nav__mobile--main2">
            <div class="nav__mobile--card">
                <button class="nav__mobile--btn">
                     <span class="nav__mobile--title1">Grocery</span>
                </button>
                <label for="checkbox1" class="nav__mobile--check">
               <div class="nav__mobile--imgblock">
                    <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="icon nav__mobile--icon4">
                    <img src="./assets/icon/arrow-3.svg" alt="" class="icon nav__mobile--icon5">
               </div>
            </label>
             </div>
             <input type="checkbox" name="checkbox1" id="checkbox1" hidden>
             <!-- item1 -->
             <div class="dropdown__inner--item2">
                <div class="dropdown__inner--img2">
                    <img src="./assets/icon/icon1.svg" alt="" class="dropdown__inner--icon">
                </div>
                <div class="dropdown__inner--blog">
                    <h2 class="dropdown__inner--header">Grocery</h2>
                    <p class="dropdown__inner--desc">Shop All</p>
                    <p class="dropdown__inner--desc">Grilling Foods</p>
                    <p class="dropdown__inner--desc">Spring Flavors</p>                                      
                </div>
            </div>
            <div class="dropdown__inner--item2 dropdown__inner--item2-1">
                <div class="dropdown__inner--img2-1">
                    <img src="../assets/icon/star2.svg" alt="" class="dropdown__inner--icon1">
                    <img src="./assets/icon/apple.svg" alt="" class="dropdown__inner--icon">
                </div>
               <div class="dropdown__inner--blog">
                    <h2 class="dropdown__inner--header">Fresh Produce</h2>
                    <p class="dropdown__inner--desc">Shop All</p>
                    <p class="dropdown__inner--desc">Celebrate Salad Month</p>
                    <p class="dropdown__inner--desc">Healthy Living</p>
                    <p class="dropdown__inner--desc">Fresh Flowers</p>
                    <p class="dropdown__inner--desc">Chilled Dressing</p>
                    <p class="dropdown__inner--desc">Fresh Fruit</p>
                    <p class="dropdown__inner--desc">Salad Kits & Bowls</p>
                    <p class="dropdown__inner--desc">Organic Produce</p>
                    <p class="dropdown__inner--desc">Fresh Vegetables</p>
               </div>
         </div>
           </div>
           <!-- beauty -->
           <div class="nav__mobile--main3">
            <div class="nav__mobile--card">
                <button class="nav__mobile--btn">
                     <span class="nav__mobile--title1">Beauty</span>
                </button>
                <label for="checkbox2" class="nav__mobile--check">
               <div class="nav__mobile--imgblock">
                    <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="icon nav__mobile--icon4">
                    <img src="./assets/icon/arrow-3.svg" alt="" class="icon nav__mobile--icon5">
               </div>
            </label>
             </div>
             <input type="checkbox" name="checkbox2" id="checkbox2" hidden>
             <div class="dropdown__inner--item3">
                <div class="dropdown__inner--img2">
                    <img src="./assets/icon/icon1.svg" alt="" class="dropdown__inner--icon">
                </div>
                <div class="dropdown__inner--blog">
                    <h2 class="dropdown__inner--header">Featured Shops</h2>
                    <p class="dropdown__inner--desc">Pickup Today in Beauty</p>
                    <p class="dropdown__inner--desc">BeautySpaceNK</p>
                    <p class="dropdown__inner--desc">Equate Beauty</p>   
                    <p class="dropdown__inner--desc">Beauty Deals</p>
                    <p class="dropdown__inner--desc">Walmart Exclusives</p>
                    <p class="dropdown__inner--desc">Luxury Beauty Deals</p>
                    <p class="dropdown__inner--desc">New Arrivals</p>                                   
                </div>
            </div>
            <div class="dropdown__inner--item3 dropdown__inner--item2-1">
                <div class="dropdown__inner--img2-1">
                    <img src="../assets/icon/icon12.svg" alt="" class="dropdown__inner--icon1">
                    <img src="./assets/icon/icon13.svg" alt="" class="dropdown__inner--icon">
                </div>
               <div class="dropdown__inner--blog">
                    <h2 class="dropdown__inner--header">Trending in Beauty</h2>
                    <p class="dropdown__inner--desc">Trending Beauty Products</p>
                    <p class="dropdown__inner--desc">Celebrate Earth Day</p>
                    <p class="dropdown__inner--desc">Prom-ready Beauty</p>
                    <p class="dropdown__inner--desc">Summer Beauty</p>
                    <p class="dropdown__inner--desc">Travel Size & Minis</p>
               </div>
         </div>
           </div>
        </div>
        <!-- nav -->
        <nav class="nav">
            <ul class="nav__list">
                <!-- item1 -->
                <li class="nav__list--item1">
                    <a href="#!" class="nav__link">
                        Departments
                        <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="icon" />
                        <img src="./assets/icon/icon22.svg" alt="" class="triagle">
                    </a>
                    <!-- DROPDOWN -->
                    <div class="dropdown">
                        <div class="dropdown__inner">
                            <!-- item 1 -->
                            <div class="dropdown__inner--list1">
                              <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img1">
                                        <img src="./assets/icon/catogory.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">All Departments</h2>
                                        <p class="dropdown__inner--desc">Savings & Featured Shops</p>
                                        <p class="dropdown__inner--desc">Electronics</p>
                                        <p class="dropdown__inner--desc">Clothing, Shoes & Accessories</p>
                                        <p class="dropdown__inner--desc">Home, Furniture & Appliances</p>
                                        <p class="dropdown__inner--desc">Toys & Video Games</p>
                                        <p class="dropdown__inner--desc">Home Improvement</p>
                                        <p class="dropdown__inner--desc">Baby</p>
                                        <p class="dropdown__inner--desc">Household Essentials</p>
                                        <p class="dropdown__inner--desc">Personal Care</p>
                                        <p class="dropdown__inner--desc">Patio & Garden</p>
                                        <p class="dropdown__inner--desc">Sports & Outdoors</p>
                                        <p class="dropdown__inner--desc">Gift Cards</p>
                                        <p class="dropdown__inner--desc">Auto, Tires and Industrial</p>
                                        <p class="dropdown__inner--desc">Movies, Music & Books</p>
                                    </div>    
                                    <div class="saparate"></div>    
                              </div>
                            </div>
                            <!-- item 2 -->
                            <div class="dropdown__inner--list2">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2">
                                        <img src="./assets/icon/game.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">TV & Video</h2>
                                        <p class="dropdown__inner--desc">TVs by Size</p>
                                        <p class="dropdown__inner--desc">Smart TVs</p>
                                        <p class="dropdown__inner--desc">Roku TVs</p>
                                        <p class="dropdown__inner--desc">Streaming</p>
                                        <p class="dropdown__inner--desc">TV & Video</p>
                                        <p class="dropdown__inner--desc">DVD & Blu-Ray Players</p>
                                        <p class="dropdown__inner--desc">TV Mounts & Accessories</p>
                                    </div>
                                </div>
                             <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/star.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/game.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Wearable Technology</h2>
                                        <p class="dropdown__inner--desc">Galaxy Watch</p>
                                        <p class="dropdown__inner--desc">Apple Watch</p>
                                        <p class="dropdown__inner--desc">Fitness Trackers</p>
                                        <p class="dropdown__inner--desc">Virtual Reality</p>
                                        <p class="dropdown__inner--desc">Headphones</p>
                                   </div>
                             </div>
                            </div>
                            <!-- item 3 -->
                            <div class="dropdown__inner--list3">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/triangle.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/monitor.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Computers</h2>
                                        <p class="dropdown__inner--desc">Shop All Computers</p>
                                        <p class="dropdown__inner--desc">Laptops</p>
                                        <p class="dropdown__inner--desc">PC Gaming</p>
                                        <p class="dropdown__inner--desc">Monitors</p>
                                        <p class="dropdown__inner--desc">Chromebook</p>
                                        <p class="dropdown__inner--desc">Printers & Ink</p>
                                        <p class="dropdown__inner--desc">Shop all TVs</p>
                                        <p class="dropdown__inner--desc">Computer Accessories</p>
                                        <p class="dropdown__inner--desc">Desktops</p>
                                        <p class="dropdown__inner--desc">Tax Software</p>
                                        <p class="dropdown__inner--desc">Computer Software</p>
                                        <p class="dropdown__inner--desc">PC Finder</p>
                                    </div>
                                </div>
                            </div>
                            <!-- item 4 -->
                            <div class="dropdown__inner--list4">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/smile.svg" alt="dropdown__inner--icon1">
                                        <img src="./assets/icon/pocket.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Savings</h2>
                                        <p class="dropdown__inner--desc">Tech Savings</p>
                                        <p class="dropdown__inner--desc">Overstock Savings</p>
                                        <p class="dropdown__inner--desc">Tech Rollbacks</p>
                                   </div>
                                </div>
                               <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/hexagon.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/phone.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Cell Phones</h2>
                                        <p class="dropdown__inner--desc">Wireless Deals</p>
                                        <p class="dropdown__inner--desc">5G Phones</p>
                                        <p class="dropdown__inner--desc">Prepaid Phones & Plans</p>
                                        <p class="dropdown__inner--desc">Refurbished Phones</p>
                                        <p class="dropdown__inner--desc">iPhone Accessories</p>
                                        <p class="dropdown__inner--desc">Cases & Screen Protectors</p>
                                        <p class="dropdown__inner--desc">Walmart Protection Plan</p>
                                        <p class="dropdown__inner--desc">Unlocked Phones</p>
                                    </div>
                               </div>
                            </div>                      
                        </div>
                    </div>
                </li>
                <!-- item2 -->
                <li class="nav__list--item2">
                    <a href="#!" class="nav__link">
                        Grocery
                        <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="icon" />
                        <img src="./assets/icon/icon22.svg" alt="" class="triagle">
                    </a>
                      <!-- DROPDOWN -->
                      <div class="dropdown">
                        <div class="dropdown__inner">
                            <!-- item 1 -->
                            <div class="dropdown__inner--list2">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2">
                                        <img src="./assets/icon/icon1.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Grocery</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">Grilling Foods</p>
                                        <p class="dropdown__inner--desc">Spring Flavors</p>                                      
                                    </div>
                                </div>
                             <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/star2.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/apple.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Fresh Produce</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">Celebrate Salad Month</p>
                                        <p class="dropdown__inner--desc">Healthy Living</p>
                                        <p class="dropdown__inner--desc">Fresh Flowers</p>
                                        <p class="dropdown__inner--desc">Chilled Dressing</p>
                                        <p class="dropdown__inner--desc">Fresh Fruit</p>
                                        <p class="dropdown__inner--desc">Salad Kits & Bowls</p>
                                        <p class="dropdown__inner--desc">Organic Produce</p>
                                        <p class="dropdown__inner--desc">Fresh Vegetables</p>
                                   </div>
                             </div>
                            </div>
                            <!-- item 2 -->
                            <div class="dropdown__inner--list2">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/triangle2.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/bread.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Bakery & Bread</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">New in Bakery</p>
                                        <p class="dropdown__inner--desc">Sliced Bread</p>
                                        <p class="dropdown__inner--desc">Rolls & Buns</p>
                                        <p class="dropdown__inner--desc">Tortillas</p>
                                        <p class="dropdown__inner--desc">Breakfast Breads</p>
                                        <p class="dropdown__inner--desc">Pies</p>
                                        <p class="dropdown__inner--desc">Cookies & Brownies</p>
                                    </div>
                                </div>
                             <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/polygon.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon2.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Frozen</h2>
                                        <p class="dropdown__inner--desc">Frozen Breakfast</p>
                                        <p class="dropdown__inner--desc">Frozen Potatoes</p>
                                        <p class="dropdown__inner--desc">Frozen Meals & Snacks</p>
                                   </div>
                             </div>
                            </div>
                            <!-- item 3 -->
                            <div class="dropdown__inner--list2">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon4.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon5.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Snacks</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">Chips</p>
                                        <p class="dropdown__inner--desc">Popcorn & Pretzels</p>
                                        <p class="dropdown__inner--desc">Crackers</p>
                                        <p class="dropdown__inner--desc">Salsa & Dips</p>
    
                                    </div>
                                </div>
                             <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon6.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon7.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Candy</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">Better for You</p>
                                        <p class="dropdown__inner--desc">Chocolate</p>
                                        <p class="dropdown__inner--desc">Sugar Free Candy</p>
                                        <p class="dropdown__inner--desc">Gum</p>
                                        <p class="dropdown__inner--desc">Mints</p>
                                        <p class="dropdown__inner--desc">On-the-Go</p>
                                   </div>
                             </div>
                            </div>
                            <!-- item 4 -->
                            <div class="dropdown__inner--list4">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon8.svg" alt="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon9.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Cocktails & Mixes Coffee</h2>
                                        <p class="dropdown__inner--desc">Ground Coffee</p>
                                        <p class="dropdown__inner--desc">Whole Bean Coffee</p>
                                        <p class="dropdown__inner--desc">Coffee Pods</p>
                                        <p class="dropdown__inner--desc">Instant Coffee</p>
                                   </div>
                                </div>
                               <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon10.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon11.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Beverages</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">Water</p>
                                        <p class="dropdown__inner--desc">Soft Drinks</p>
                                        <p class="dropdown__inner--desc">Fruit Juice</p>
                                        <p class="dropdown__inner--desc">Sports Drinks</p>
                                        <p class="dropdown__inner--desc">Energy Drinks</p>
                                        <p class="dropdown__inner--desc">Tea</p>
                                        <p class="dropdown__inner--desc">Hot Chocolate & Cocoa</p>
                                    </div>
                               </div>
                            </div>
                          
                        </div>
                    </div>
                </li>
                <!-- item3 -->
                <li class="nav__list--item3">
                    <a href="#!" class="nav__link">
                        Beauty
                        <img src="./assets/icon/Arrow - Down 2.svg" alt="" class="icon" />
                        <img src="./assets/icon/icon22.svg" alt="" class="triagle">
                    </a>
                     <!-- DROPDOWN -->
                     <div class="dropdown">
                        <div class="dropdown__inner">
                            <!-- item 1 -->
                            <div class="dropdown__inner--list2">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2">
                                        <img src="./assets/icon/icon1.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Featured Shops</h2>
                                        <p class="dropdown__inner--desc">Pickup Today in Beauty</p>
                                        <p class="dropdown__inner--desc">BeautySpaceNK</p>
                                        <p class="dropdown__inner--desc">Equate Beauty</p>   
                                        <p class="dropdown__inner--desc">Beauty Deals</p>
                                        <p class="dropdown__inner--desc">Walmart Exclusives</p>
                                        <p class="dropdown__inner--desc">Luxury Beauty Deals</p>
                                        <p class="dropdown__inner--desc">New Arrivals</p>                                   
                                    </div>
                                </div>
                             <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon12.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon13.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Trending in Beauty</h2>
                                        <p class="dropdown__inner--desc">Trending Beauty Products</p>
                                        <p class="dropdown__inner--desc">Celebrate Earth Day</p>
                                        <p class="dropdown__inner--desc">Prom-ready Beauty</p>
                                        <p class="dropdown__inner--desc">Summer Beauty</p>
                                        <p class="dropdown__inner--desc">Travel Size & Minis</p>
                                   </div>
                             </div>
                            </div>
                            <!-- item 2 -->
                            <div class="dropdown__inner--list2">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon14.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon15.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Featured Brands</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">New in Bakery</p>
                                        <p class="dropdown__inner--desc">Sliced Bread</p>
                                        <p class="dropdown__inner--desc">Rolls & Buns</p>
                                        <p class="dropdown__inner--desc">Tortillas</p>
                                        <p class="dropdown__inner--desc">Breakfast Breads</p>
                                        <p class="dropdown__inner--desc">Pies</p>
                                        <p class="dropdown__inner--desc">Cookies & Brownies</p>
                                    </div>
                                </div>
                             <div class="dropdown__inner--item dropdown__inner--item2-1">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon16.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon17.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Communities to Support</h2>
                                        <p class="dropdown__inner--desc">Black Owned Beauty</p>
                                        <p class="dropdown__inner--desc">LatinX Owned Beauty</p>
                                        <p class="dropdown__inner--desc">AAPI Owned Beauty</p>
                                   </div>
                             </div>
                            </div>
                            <!-- item 3 -->
                            <div class="dropdown__inner--list2">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon18.svg" alt="" class="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon19.svg" alt="" class="dropdown__inner--icon">
                                    </div>
                                    <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Premium Beauty</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">Hair Color</p>
                                        <p class="dropdown__inner--desc">Hair Care</p>
                                        <p class="dropdown__inner--desc">Skincare</p>
                                        <p class="dropdown__inner--desc">Fragrance</p>
                                        <p class="dropdown__inner--desc">Makeup</p>
                                        <p class="dropdown__inner--desc">Beauty Tech & Tools</p>
                                    </div>
                                </div>
                            </div>
                            <!-- item 4 -->
                            <div class="dropdown__inner--list4">
                                <div class="dropdown__inner--item">
                                    <div class="dropdown__inner--img2-1">
                                        <img src="../assets/icon/icon20.svg" alt="dropdown__inner--icon1">
                                        <img src="./assets/icon/icon21.svg" alt="" class="dropdown__inner--icon2">
                                    </div>
                                   <div class="dropdown__inner--blog">
                                        <h2 class="dropdown__inner--header">Beauty</h2>
                                        <p class="dropdown__inner--desc">Shop All</p>
                                        <p class="dropdown__inner--desc">Men's Grooming</p>
                                        <p class="dropdown__inner--desc">Bath & Body</p>
                                        <p class="dropdown__inner--desc">Beauty Tech & Tools</p>
                                        <p class="dropdown__inner--desc">Makeup</p>
                                        <p class="dropdown__inner--desc">Fragrance</p>
                                        <p class="dropdown__inner--desc">Nail Care</p>
                                        <p class="dropdown__inner--desc">Hair Care</p>
                                        <p class="dropdown__inner--desc">Hair Color</p>
                                        <p class="dropdown__inner--desc">Skincare</p>
                                   </div>
                                </div>
                            </div>
                            <img src="../assets/icon/icon22.svg" alt="" class="triagle">
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- top-action -->
        <div class="top-action">
            <div class="top-action__group top-action__group--single">
                <button class="top-action__icon">
                    <img src="./assets/icon/search.svg" alt="" class="icon" />
                </button>
            </div>
    
            <div class="top-action__group">
                <button class="top-action__icon ">
                    <img src="./assets/icon/heart.svg" alt="" class="icon" />
                    <span class="top-action__title">03</span>
                </button>
                <div class="top-action__separate"></div>
                <button class="top-action__icon ">
                    <img src="./assets/icon/buy.svg" alt="" class="icon" />
                    <span class="top-action__title">$65.42</span>
                </button>
            </div>
            <div class="top-action__user">
                <img src="./assets/img/uifaces-popular-image.png" alt="ava" class="top-action__avatar">
            </div>
        </div>
    </div>
</div>